<web-app>
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>fr.mediaweb.services.Authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestionnaire</servlet-name>
        <servlet-class>fr.mediaweb.services.Gestionnaire</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestionnaire</servlet-name>
        <url-pattern>/gest</url-pattern>
    </servlet-mapping>
</web-app>